/* begin standard */
*{margin:0;padding:0;}
@font-face{font-family:"robotocondensed";src:url("../fonts/RobotoCondensed.woff") format('truetype');}
@font-face{font-family:"arial";src:url("../fonts/arial.ttf") format('truetype');}
@font-face{font-family:"notoserif";src:url("../fonts/noto-serif.ttf") format('truetype');}
@font-face{font-family:"baomoi";src:url("../fonts/baomoi_gdi.ttf") format('truetype');}
@font-face{font-family:"Parisienne";src:url("../fonts/Parisienne.ttf") format('truetype');}
@font-face{font-family:"Ovo";src:url("../fonts/Ovo-Regular.ttf") format('truetype');}
@font-face{font-family:"RobotoSlab";src:url("../fonts/RobotoSlab.ttf") format('truetype');}
@font-face{font-family:"Anton";src:url("../fonts/Anton.ttf") format('truetype');}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans.ttf") format('truetype');}
@font-face{font-family:"OpenSans-Bold";src:url("../fonts/OpenSans-Bold.ttf") format('truetype');}
body{
    font-size:14px;
    color:#585858;
    background:#f1f1f1;
    font-family: 'OpenSans';
    
}
table{max-width:100%;}
p{margin:1em 0;}
img{max-width:100%;}
.clr{clear:both;margin:0 !important;padding: 0 !important}
a:hover,a:focus{text-decoration:none;color:#0c62ad;}
ul{margin:0;padding:0;}
ul li{margin-left:15px;}
ol li{margin-left:15px;margin-bottom: 15px;}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0;}
.container{padding-right:0;padding-left:0;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-25{margin-bottom:25px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-35{margin-bottom:35px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-45{margin-bottom:45px;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-25{margin-top:25px;}
.margin-top-30{margin-top:30px;}
.margin-top-35{margin-top:35px;}
.margin-top-40{margin-top:40px;}
.margin-top-45{margin-top:45px;}
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-25{padding-bottom:25px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-35{padding-bottom:35px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-45{padding-bottom:45px;}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-25{padding-top:25px;}
.padding-top-30{padding-top:30px;}
.padding-top-35{padding-top:35px;}
.padding-top-40{padding-top:40px;}
.padding-top-45{padding-top:45px;}

.padding-left-5{padding-left: 5px;}
.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}
.padding-left-20{padding-left: 20px;}
.padding-left-25{padding-left: 25px;}
.padding-left-30{padding-left: 30px;}
.padding-left-35{padding-left: 35px;}
.padding-left-40{padding-left: 40px;}
.padding-left-45{padding-left: 45px;}

.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}
.padding-right-20{padding-right: 20px;}
.padding-right-25{padding-right: 25px;}
.padding-right-30{padding-right: 30px;}
.padding-right-35{padding-right: 35px;}
.padding-right-40{padding-right: 40px;}
.padding-right-45{padding-right: 45px;}

.margin-left-5{margin-left: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}
.margin-left-20{margin-left: 20px;}
.margin-left-25{margin-left: 25px;}
.margin-left-30{margin-left: 30px;}
.margin-left-35{margin-left: 35px;}
.margin-left-40{margin-left: 40px;}
.margin-left-45{margin-left: 45px;}

.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}
.margin-right-20{margin-right: 20px;}
.margin-right-25{margin-right: 25px;}
.margin-right-30{margin-right: 30px;}
.margin-right-35{margin-right: 35px;}
.margin-right-40{margin-right: 40px;}
.margin-right-45{margin-right: 45px;}


.row{margin-left:0;margin-right:0;}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-right{
    padding-right: 0
}
.no-padding-left{
    padding-left: 0;
}
.no-margin{
    margin-left: 0;
    margin-right: 0;
}
.no-margin-right{
    margin-right: 0
}
.no-margin-left{
    margin-left: 0;
}
.relative{
    position: relative;
    
}
.justify{
    text-align: justify;
}
table td{padding-left:10px;padding-bottom:10px;}
figure{overflow:hidden;position:relative;display:inline-block;vertical-align:top;}
figure img{-webkit-transition:all 0.5s linear;transition:all 0.5s linear;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
figure:hover img{-webkit-transform:scale3d(1.2, 1.2, 1);transform:scale3d(1.2, 1.2, 1);}
div.mobilemenu{
    display: none;
}
.navbar-default {
    background-color:#0c62ad;
    border-top:1px solid #01539b;
    border-left:1px solid #01539b;
    border-right:1px solid #01539b;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0c62ad;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top:1px solid #01539b;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    border-bottom:1px solid #01539b;
    padding-left:15px;
    padding-right: 15px;
    font-size: 16px;
}
.nav > li{
    margin-left: 0
}
.navbar-nav {
    margin: 0px 0px;
}
.nav > li > a{
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse{
    padding-right: 0;
    padding-left: 0;
}
ul.nav ul.sub-menu{
    list-style: none;
}
ul.nav ul.sub-menu li{
    margin-left: 0;
}
ul.nav ul.sub-menu li a{
    display: block;
    color: #ffffff;
    padding: 15px 0px 0px 40px;
}
.navbar-nav ul li a{
    color: #ffffff;
    display: block;
    padding-left: 45px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav ul{
    list-style: none;
}
.navbar-nav ul li{
    margin-left: 0;
}
.navbar-nav li a:hover{
    color: #ff8a00 !important;
}
div.opacity-absolute::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
}
ul.inline-block{
    list-style: none;
}
ul.inline-block > li{
    display: inline-block;
}
ul.list-style-none{
    list-style: none;
}
.pagination{
    margin: 0
}
/* end standard */

.social a{
    display: block;
    background: #ffffff;
    color: #666666;
    border: 1px solid #333;
    border-radius: 50%;
}

.social-facebook a{
    padding: 7px 13px;
    
}
.social-google-plus a{
    padding: 7px 8px;
    
}
.social-youtube a{
    padding: 7px 11px;
    
}
.social-twitter a{
    padding: 7px 11px;
    
}
.en-gb a{
    border-left: 1px solid #585858;
    padding-left: 5px;
}
.vi-vn a {
    padding-right: 5px;
}
.sinka li.language:nth-child(6) a {
    padding-left: 7px;
}

.info-header{
    float: right;
    width: 800px;
    padding: 24px 0px;
}
.contact-phone{
    color: #707070;
    font-weight: bold;
    font-size: 30px;
    padding: 4px 0px;
    font-style: italic;
}
.searching input[type='text'][name='q']{
    border: 0px solid #ffffff;
    padding: 5px 10px;
    width: 100%;
}
.searching a {
    padding: 3px 5px;
    font-size: 17px;
    background: #f6b948;
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
}
.red-menu{
    padding:0 0px;
    background: #0c62ad;
}

.content{
    background: url("../images/bg-content.png");        
    padding:0px 0px 25px 0px;
}
.article-simon{
    margin-right:   15px;
}
.react-title a{
 text-transform: uppercase;
 display: block;
 font-weight: bold;
 font-size: 18px;
}
.gaiden{
    margin: 20px 0px 0px 0px;
}
.gaiden img{
    border:3px solid #ec2227;
    border-radius: 0px 30px 0px 30px;
}
.ruby{
    text-align: justify;
    font-weight: bold;   
}
.readmore a{
    color: #ff0000
}
.readmore a::before{
    font-family: 'FontAwesome';
    content: "\f0a9";
    margin-right: 5px;
}
.bottom-content{
    background: #db151a;
}
.news-article-title a{
    color: #ffffff;
    font-size: 20px;
}
.news-article-content{
    text-align: justify;
    color: #ffffff
}
.news-article > h1{
    color: #ffffff;
    font-size: 22px;

}
.rappit{
    border-top: 1px solid #ffffff;
    display: block;
    position: absolute;
    top: 11px;
    right: 79px;
    width: 69%;
}
.bottom-content{
    padding: 20px 0px;
}
.terexa{
    text-transform: uppercase;
}
.rex .owl-prev,.rex .owl-next{
 background:#ffffff;
 
 padding: 5px 11px;
 color: #db151a;
}
.rex .owl-prev{
  position: absolute;
  right: 35px;
  top: -43px;

}
.rex .owl-next{
    position: absolute;
    right: 0;
    top: -43px;
}
.tariff{
    border:1px solid #ad1115;
    padding: 10px;
    
}
.tariff-title{
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    padding: 0px 0px 10px 0px;
    font-size: 22px;
}
.tim-an-nhan a{
    background: #ffffff;
    color: #d7171c;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.soratv{
    border: 0;
    padding: 5px 5px;
}
.linda{
    border: 0;
    padding: 5px 10px 5px 10px;
    width:50%;
}
.laptop .owl-prev, .laptop .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.laptop .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.laptop .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}



.may-tinh .owl-prev, .may-tinh .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.may-tinh .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.may-tinh .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}
.tablet .owl-prev, .tablet .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.tablet .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.tablet .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}
.prodetail .owl-prev, .prodetail .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.prodetail .owl-prev{
  position: absolute;
  right: 35px;
  top:-50px;

}
.prodetail .owl-next{
    position: absolute;
    right: 0;
    top:-50px;
}
.dien-thoai .owl-prev, .dien-thoai .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.dien-thoai .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.dien-thoai .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}
.phu-kien-dien-thoai .owl-prev, .phu-kien-dien-thoai .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.phu-kien-dien-thoai .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.phu-kien-dien-thoai .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}
.phu-kien-may-tinh .owl-prev, .phu-kien-may-tinh .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.phu-kien-may-tinh .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.phu-kien-may-tinh .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}
.loa-am-thanh .owl-prev, .loa-am-thanh .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.loa-am-thanh .owl-prev{
  position: absolute;
  right: 35px;
  top:-43px;

}
.loa-am-thanh .owl-next{
    position: absolute;
    right: 0;
    top:-43px;
}

.related-products .owl-prev, .related-products .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.zuna-home{
    border-bottom: solid 2px #273896;
        background: -webkit-linear-gradient(left, #eceeed , #ffffff);
    background: -o-linear-gradient(right, #eceeed, #ffffff);
    background: -moz-linear-gradient(right, #eceeed, #ffffff);
    background: linear-gradient(to right, #eceeed , #ffffff);
}

.cot-1{
        float: left;
    background: url(../images/gochome.png) #273896 no-repeat top right;
    height: 32px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cot-1 h2{
    line-height: 32px
}
.cot-1 a{
        color: #ffffff;
    font-size: 18px;

}
.cot-2{
    float: left;
    width: 100%;

}
.related-products .owl-prev{
  position: absolute;
  right: 35px;
  top: -39px;

}
.related-products .owl-next{
    position: absolute;
    right: 0;
    top: -39px;
}
.featured-news .owl-prev, .featured-news .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.featured-news .owl-prev{
  position: absolute;
  right: 35px;
  top: -39px;

}
.featured-news .owl-next{
    position: absolute;
    right: 0;
    top: -39px;
}
.other-news-list{
    list-style: square;
}
footer{
 color: #ffffff;
 padding-bottom: 15px;
 background: #114a82;
 
}

.brabel{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}
.tialia{
    font-size: 15px;
    text-align: justify;
}
.danh-muc{
    list-style: none;
}
.danh-muc li{
    margin-left: 0;
}
.danh-muc a{
    padding: 5px;
    display: block;
    border-bottom: 1px dotted #ccc;
}
.danh-muc a i{
    margin-right: 10px
}
.immotal{        
 
}
.ringring{
    margin-top: 45px;
}
.container-general{
 background-color: #fff;
 border: 1px solid #dddddd;
 border-radius: 4px;
 min-height: 500px;
}
.tieu-de{
    border: 1px solid #d8d8d8;
    background: linear-gradient(to bottom, #ffffff , #F5F5F5);
    font-size: 15px;
    color:#0c62ad;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: bold;
}
.tieu-de a{
    color: #0c62ad
}
.tieu-de::after{
    font-family: 'FontAwesome';
    content: "\f105";
    margin-left: 15px;
}
.tieu-de-bai-viet{
    font-size: 15px;
    color:#0c62ad;
    font-weight: bold;
    padding-top: 15px;
}
.tieu-de-bai-viet-to-chuc{
    font-size: 15px;
    color: #b93d00;
    font-weight: bold;
    
}

.article-detail a{
    color:#0c62ad;
}
.article-detail a::after{
    font-family: 'FontAwesome';
    content: "\f105";
    margin-left: 10px;
    margin-right: 10px;
}
.breadcrumb-title {
    border: 1px solid #d8d8d8;
    background: linear-gradient(to bottom, #ffffff , #F5F5F5);
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: bold;
}
.breadcrumb-title a::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    margin-left: 10px;
    margin-right: 10px;
}
.breadcrumb-title a{
    color: #0c62ad;
}
.article-excerpt{
    color: #000000;
    
    font-size: 13px;
}

.box-title a{
    color: #0c62ad;
    font-size: 16px;
    font-weight: bold;
}
.box-title a:hover{
    color: #ffb400;
}
.box-img{
    border-right: 1px dotted #dddddd;
    padding-right: 5px;
}
.box-row{
    border: 1px solid #dddddd;
    padding: 5px;
}
.box-intro{
    text-align: justify;
}
.box-readmore a{
    display: inline-block;
    border: 1px solid #d8d8d8;
    background: linear-gradient(to bottom, #ffffff , #F5F5F5);
    padding: 5px 10px;
    border-radius: 5px;
    color: #0c62ad;
}
.box-readmore a:hover{
    background: linear-gradient(to bottom,#F5F5F5  , #ffffff);
}
.box-readmore a::before{
    font-family: "Font Awesome\ 5 Free";
    content: "\f35a";
    margin-right: 5px;
    font-weight: bold;
}

.menu-right-title{
 background: #0c62ad;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 15px;
 padding: 10px 10px;
}
.categoryarticle{
    list-style: none;
}
.categoryarticle li{
    margin-left: 0;
}
.categoryarticle > li > a{
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    background:url('../images/square-menu.jpg') no-repeat 10px center;
    display: block;
    padding: 5px 25px;    
}
.categoryproduct{
    list-style: square;
}
.category-product-wrapper{
    padding: 0px 15px 0px 15px;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.categoryproduct li a{
    padding: 5px 0px 5px 0px;
    display: block;
}
.categoryarticle li.current-menu-item  a , .categoryproduct li.current-menu-item  a{
    color: #0c62ad
}
.related-articles{
    list-style: square;
}
.related-articles li a{
    font-weight: bold;
    color: #666
}
.box-article{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:  15px;
    background: #FFF;
    border-bottom: 1px solid #0c62ad;
    -webkit-box-shadow: 0 0 3px #CACACA;
    -moz-box-shadow: 0 0 3px #cacaca;
    box-shadow: 0 0 3px #CACACA;


}
.duong-ngang{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
}
.box-article-category{
    display: inline-block;
}
.post-view{
    display: inline-block;
}
.related-news{
    float: left;
}
.related-news-right{
    margin-left: 100px;
}
.contact-input {
    width: 100%;
    padding:5px 10px 5px 10px;
    font-size: 12px;    
}
.top-user a{
    margin-left:10px;
    margin-right:10px;
}
.tham-gia{
    position: absolute;
    right: 0;
    top: 0;
}
.login-join-project a{
    color: #337ab7;
}
.join-project-text-center{
    text-align: center;
}
.haved-join{
    display: none;
}
.view-post-count , .view-member-count{
    display: inline-block;
}
.titac{
    display: inline-block;
}
.album-img{
    border :1px solid #ddd;
    padding: 2px
}
.box-photo{
    float: left;
    width: 150px;
    margin-left: 1px;
    margin-top: 1px;
}
div.liverpool div.youtube{    
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;        
    left:0;
    top: 0;        
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
div.liverpool div.youtube-img{    
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
div.liverpool:hover div.youtube{
    opacity: 0.7;    
}
div.liverpool:hover div.youtube-img{
    opacity: 1;    
}
.mathe{
    padding-top: 7px;
    padding-bottom: 7px;
}
.rena{
    float: right;   
}
.slogan{
    color: #0c62ad;
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #ffffff;
}
.searching{
    padding: 40px 0px 0px 90px;
}
.so-phone{
    text-shadow: 2px 2px 0px #ffffff;
    font-style: italic;
}
.telephone{
    text-shadow: 2px 2px 0px #ffffff;
}
.main-menu li{
    margin-left: 0
}
.box-wrapper{
    background: #ffffff;
}

div.ducati  h2{
    color: #e80000;
    padding: 0px 0px;
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.ducati ul{
    list-style: none;
}
.ducati > div:nth-child(2){
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 10px;
}
.categorymenu li{
    margin-left: 0;
    margin-top: 10px;
}
.categorymenu li span{
	margin-left: 5px;
}
.ducati{
    
    padding: 5px;
    
}

.box-article-list{
    padding: 0px 0px;
}

.f-title-info span {
    font-size: 18px;
    color: #0c62ad;
    border-bottom: solid 1px #555;
    text-transform: uppercase;
}
.box-intro-title a{
    background: rgba(0, 0, 0, 0.56);
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}
.partner .owl-prev, .partner .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.partner .owl-prev{
  position: absolute;
  right: 35px;
  top: -39px;

}
.partner .owl-next{
    position: absolute;
    right: 0;
    top: -39px;
}
.connected-social li{
    margin-left: 0;
}
.box-inner-content{
    background: #ffffff;
    padding-bottom: 15px;
}

.box-product-title a{
    font-size: 13px;
}

.product-detail-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.product-price{
    border-top: 1px solid #d8d8d8;
    padding-top: 5px;
}
.product-detail-content{
    border-bottom: 3px solid #0A5CAC;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}
.product-ngang{
    border-top: 1px solid #d8d8d8;
    margin-bottom: 0px;
    margin-top: 10px;
}
.sale-price{
    float: left;
}
.old-price{
    float: right;
}
.thuong-hieu a{
    color: #0c62ad
}
.advertising{
    list-style: none;
}
.advertising li{
    margin-left: 0;
    margin-top: 5px;
}
.box-product-intro-title{
    margin: 5px 15px 0px 15px;
    text-align: center;
        height: 65px;
}
.box-product-intro-title a{
        color: #004A8F;
        font-size: 13px
}
.box-product{
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.hotline{
    font-size: 30px;
    color: #0c62ad;
    text-align: right;
}
.fixed {
    position: fixed; 
    top: 0; 
    left:0px;
    width: 100%;
    z-index: 2;
}
.bg-wrapper{
    background:transparent;
}
.toriese{
    box-shadow: 0px 2px 8px #999;
}
.bg-nina{
    transition: 2s;
}
.bg-tatoo{
    background: #ffffff
}

.bg-zipman .bg-tatoo{
   background: #0c62ad
}
.bg-zipman .ddsmoothmenu > ul > li > a{
    color: #ffffff ;
}
.tuabin{
   width:250px;
   float: right;
}
.hotline-tb td{
	padding: 5px 0px;
}
.thiet-ke-boi a{
	color: #ffffff;
    text-transform: uppercase;
}
.employee-name{	
   font-style: italic;
   font-size: 12px;
   font-weight: bold;
}
.box-support{
    width: 100%;    
    box-shadow: 1px 1px 1px #888888;
}
.phone-tel{
    color: #d10000
}

.connected-social li{
    margin-left: 8px;
}
.connected-social li:first-child{
    margin-left: 0
}
.bg-social{
    background:#bf1e2d;   
}
.slogan-left{
    float: left;
    color: #ff6600;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 0px;
}
.social-right{
    float: right;
}
.social-google-plus{
    margin-left: 10px;
}
.social-youtube{
    margin-left: 10px;   
}
.social-twitter{
    margin-left: 10px;
}
.social a:hover{
    background: #114A82;
    color: #ffffff;
}

.logo{
    padding: 89px 0px;
}
.logo a{
    z-index: 2;
}
.logo::before {
    content: '';
    background-image: url(../images/bg-logo.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    background-position: right;
    width: 100%;
    height: 100%;
    right: 0;
}
.nuke{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.info-top{
    color: #114a82;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 25px;
    margin-top: 15px;
}
.snippet-top{
    font-size: 25px;
}
.info-global{
    font-size: 14px;
}
.menu-plone{
    padding:0px 0px;
}
.gach-ngang{
    border-top: 1px solid #d7d7d7;
    margin-top: 128px;
}
.gach-ngang-2{
    border-top: 3px solid #114a82;
    width: 75px;
    margin:65px auto 0px auto;
}
.du-an-noi-bat{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    
    font-family:"Anton";
    font-size: 30px;
}
.du-an{
    color: #ff6600;
    
    
}
.noi-bat{
    color: #114a82;
    
    
}
.include-project{
    text-align: center;
    font-weight: bold;
    color: #333
}
.box-project{
    border: 1px solid #d7d7d7;
    padding: 3px 3px 10px 3px;
}
.project-price{
    background-image: url(../images/label-price.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 123px;
    left: -4px;
    z-index: 2;
    width: 100%;
    padding: 7px 0px 7px 12px;
    font-weight: bold;
    color: #ffffff;
}
.box-project-info{
    padding: 0px 25px;
}
.project-gach-info{
    border-top: 1px dashed #0072bc;
    margin-bottom: 0;
    margin-top: 10px;
}
.box-project-title a{
    color: #000;
    font-weight: bold;
}
.hand-bg{
    background-image: url(../images/hand.png);
    background-repeat: no-repeat;
    background-position: right top;    
    background-color: #f9f9f9;
    background-size: auto 485px;
    margin-top: 65px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px
}
.join-with-us-reason{
    float: left;
    width: 60%;
}
.gach-ngang-3 {
    border-top: 3px solid #114a82;
    width: 75px;
    margin: 40px auto 0px auto;
}
.du-an-noi-bat-2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 35px;
}
.phuong-cham{
    float: left;
    width: 60%;
}
.bottom-right:before {
    top: 0px;
    width: 1px;
    background: rgba(249,249,249,1);
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(40%, rgba(249,249,249,1)), color-stop(100%, rgba(148,148,148,1)));
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#949494', GradientType=0 );
}
.bottom-right:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 1px;
}
.bottom-right:after {
    right: 0px;
    height: 1px;
    background: rgba(249,249,249,1);
    background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,249,249,1)), color-stop(40%, rgba(249,249,249,1)), color-stop(100%, rgba(148,148,148,1)));
    background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -o-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: -ms-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    background: linear-gradient(to right, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 40%, rgba(148,148,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#949494', GradientType=1 );
}
.bottom-right:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.top-left:before {
    top: 0px;
    width: 1px;
    background: rgba(148,148,148,1);
    background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(60%, rgba(249,249,249,1)), color-stop(100%, rgba(249,249,249,1)));
    background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#f9f9f9', GradientType=0 );
}
.top-left:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -2px;
}
.top-left:after {
    right: 0px;
    height: 1px;
    background: rgba(148,148,148,1);
    background: -moz-linear-gradient(left, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(148,148,148,1)), color-stop(60%, rgba(249,249,249,1)), color-stop(100%, rgba(249,249,249,1)));
    background: -webkit-linear-gradient(left, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(left, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(left, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    background: linear-gradient(to right, rgba(148,148,148,1) 0%, rgba(249,249,249,1) 60%, rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#f9f9f9', GradientType=1 );
}
.top-left:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
}
.phuong-cham-title{
    color: #114a82;
    font-weight: bold;
    font-size: 18px
}
.phuong-cham-content{
    color: #000;
}
.bg-3{
    background-image: url('../images/bg-3.png');
    background-repeat: no-repeat;
}
.bg-3::before{
    background-color: rgba(44, 95, 149, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;   
    content: '';
}
.service-readmore a{
    float: right;   
    display: block;
    color: #ffffff;
    background: #ff6600;
    padding: 5px 10px;

}
.service-readmore a:hover{
    background-color: #114a82
}
.featured-service{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Anton';
    font-size: 25px;
}
.featured-service-intro{
    color: #ffffff;
}
.service-img{
    border-bottom: 2px solid #FF6600;
}
.service-box{
    background-color: #ffffff;
}
.service-title a{
    font-weight: bold;
    color: #000;
    font-size:18px;
}
.bottom-news .owl-prev, .bottom-news .owl-next{
 background:#0c62ad;
 color: #ffffff;
 padding: 5px 11px;
}
.bottom-news .owl-prev{
  position: absolute;
  right: 35px;
  top: -39px;

}
.bottom-news .owl-next{
    position: absolute;
    right: 0;
    top: -39px;
}
.service-box-2{
    border: 1px solid #dddddd;
}
.service-title-2 a{
    font-size: 15px;
    font-weight: bold;
}
.partner-wrapper{
    background: #F9F9F9;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.gach-ngang-4 {
    border-top: 3px solid #114a82;
    width: 75px;
    margin: 45px auto 0px auto;
}
.home-contact-hd{
    background: #e1e1e1;    
}
.home-contact-hd input,.home-contact-hd textarea {

    border: 1px solid #fff;
    border-radius: 0;
    background: #e1e1e1;

}
.service-readmore-2 a{
    
    display: block;
    color: #ffffff;
    
    background-color: #114a82;
    padding: 6px 10px;
    
}
.service-readmore-2 a:hover{
    
    display: block;
    color: #ffffff;
    background: #ff6600;
    padding: 6px 10px;
    
}
.hotline-info{
    color: #ff6600;
    font-weight: bold;
}
.telephone-info{
    text-align: right;
}
.social-2 a{
    color: #114a82;
    font-size: 20px;
}
.project-price-2 {
    background-image: url(../images/label-price.png);
    background-repeat: no-repeat;   
    width: 100%;
    padding: 7px 0px 7px 12px;
    font-weight: bold;
    color: #ffffff;
}
.project-lbl-price{
    color: #ff6600;
    font-weight: bold;
    font-size: 16px;
}
.project-lbl-price-number{
    color: #114a82;
    font-weight: bold;
    font-size: 16px;
}

.duong-ngang-2{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;
}
.top-menu{
    list-style: none;
}
.top-menu li a{
    color: #ffffff;
    padding: 10px 0px;
    display: block;
    font-size: 12px;
}

.top-info{
    color: #ffffff;
    font-weight: bold;
    margin: 25px 0px 0px 0px
}
.top-info p{
    padding: 0px 0px;
    margin: 5px 0px;
}
form[name='frm-search']{
    position: relative;
  
}
.bg-menu{
    background: #1F3B73;
}
.wrapper-notice{
    background: #f7f7f7;
    padding-bottom: 15px; 
}
.supplied-block{
    padding: 20px 0px;
    margin: 15px 0px 0px 0px;
    border: 1px solid #ebebeb;
    background: #ffffff;
}
.supplied-block-2 {
    padding:9px 0px;
    margin: 15px 0px 0px 0px;
    border: 1px solid #ebebeb;
    background: #ffffff;
}
.wapper-body{
    background: #ffffff;
}
.walking-box-title{
 position: absolute;
 right: 10px;
 bottom: 10px;
 width: 60%;
 background: #ffffff;
 text-align: center;
 padding: 5px 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
 -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
 -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.walking-box-title a{
    color: #bf1e2d;
    font-weight: bold;
}
.bg-partner{
    background-color: #f3f3f3;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.frm-vip .control-label{
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}
.frm-vip .form-control{
    border-radius: 0;
    box-shadow: none;
}
.frm-vip .form-group{
    margin-bottom: 0;
}
.frm-vip .btn{
    border-color: #2f353b;
    color: #2f353b;
    background:transparent;
    border-radius : 0;
}
.frm-vip .btn:hover{
    background: #2f353b;
    color: #ffffff;
}
.table-image td, .table-image th{
    padding: 5px;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd
}
.table-image{
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.price-on{
    color: #F00;
    font-weight: bold;
    font-size: 14px;
}
.price-off{
    color: #505050;
    text-decoration: line-through;
}
.price-detail-on{
    color: #F00;
    font-weight: bold;
    font-size: 14px;
}
.pdetail-price-detail-on{
    color: #F00;
    font-weight: bold;
    font-size: 25px;
}
.price-detail-off{
    color: #505050;
    text-decoration: line-through;
}
.block-size{
    float: left;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.block-color{
    float: left;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 10px;
}
.product-thumbnail2 .owl-nav {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #1F3B73
}
.product-thumbnail2 .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    padding: 3px;
    text-align: center;
}
.product-thumbnail2 .owl-nav .owl-next {
    position: absolute;
    right: 0;    
    padding: 3px;
    text-align: center;
}
.inpt-qty {
    border: 1px solid #ddd;
    height: 35px;
    width: 45px;
    border-right: none;
    text-align: center;  
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}

.add-qty,.sub-qty {
    position: absolute;
    top: 0;
    left: 45px;
    background-color: #f1f1f1;
    height: 18px;
    width: 18px;
    cursor: pointer;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}
.sub-qty {
    top: 17px;
}
.box-product-param{
    background: #f5f5f5;
    padding:0px 10px 10px 0px;
    font-size: 12px;
    margin-top: 5px;
}
.add-to-cart{
    background-color: #029900;
    color: #ffffff;
    padding: 5px 15px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 19px;
}
.add-to-cart:hover, .add-to-cart:focus{
    color: #ffffff
}
.cart {
    position: relative;
    width: 100px;
}
.box-cart > a {
    color: #fff;
    padding: 0 8px;
}
.actions{
    float: right;
}


.breadcrumb-bg{
        background-color: #f3f1f2;
}

.pdetail-quantity{
    width: 130px;
}
.pdetail-quantity .input-number{
    text-align: center;
}
ul.bankList {
        clear: both;
        height: 202px;
        width: 636px;
    }
    ul.bankList li {
        list-style-position: outside;
        list-style-type: none;
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 2px;
        text-align: center;
        width: 90px;
    }
    .list-content li {
        list-style: none outside none;
        margin: 0 0 10px;
    }
    
    .list-content li .boxContent {
        display: none;
        width: 636px;
        border:1px solid #cccccc;
        padding:10px; 
    }
    .list-content li.active .boxContent {
        display: block;
    }
    .list-content li .boxContent ul {
        height:280px;
    }
    
    i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB,i.NAB,i.BAB 
    { width:80px; height:30px; display:block; background:url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;}
    i.MASTE { background-position:0px -31px}
    i.AMREX { background-position:0px -62px}
    i.JCB { background-position:0px -93px;}
    i.VCB { background-position:0px -124px;}
    i.TCB { background-position:0px -155px;}
    i.MB { background-position:0px -186px;}
    i.VIB { background-position:0px -217px;}
    i.ICB { background-position:0px -248px;}
    i.EXB { background-position:0px -279px;}
    i.ACB { background-position:0px -310px;}
    i.HDB { background-position:0px -341px;}
    i.MSB { background-position:0px -372px;}
    i.NVB { background-position:0px -403px;}
    i.DAB { background-position:0px -434px;}
    i.SHB { background-position:0px -465px;}
    i.OJB { background-position:0px -496px;}
    i.SEA { background-position:0px -527px;}
    i.TPB { background-position:0px -558px;}
    i.PGB { background-position:0px -589px;}
    i.BIDV { background-position:0px -620px;}
    i.AGB { background-position:0px -651px;}
    i.SCB { background-position:0px -682px;}
    i.VPB { background-position:0px -713px;}
    i.VAB { background-position:0px -744px;}
    i.GPB { background-position:0px -775px;}
    i.SGB { background-position:0px -806px;}
    i.NAB { background-position:0px -837px;}
    i.BAB { background-position:0px -868px;}
    
    ul.cardList li {
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 4px;
        text-align: center;
        width: 90px;
    }
    .boxContent {
    display: none;
    border: 1px solid #cccccc;
    padding: 10px;
}
    ul.cardList{
        list-style: none;
    }
.slideshow-category .slick-slide{
    display: flex;
    justify-content: center;
    
}
.nitendo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.line{
    float: left;
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 4px 7px 7px 7px
}
.line span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
        background-color: #ffffff;
            margin-top: 3px;
}
.dmsanpham{
        padding: 0px 0px 0px 0px;
    color: #ffffff;
    margin: 0px 30px;
  
}
.covu{
    float: left;
    width: 262px;
}
.himlam{
   float: left;
   
    width: 780px;
}
.edra .cate-product-horizontal-right{
        display: none;
    position: absolute;
    top: 48px;
    left: 14px;
    width:263px;
    z-index: 1;
    background: #ffffff;

}
.hera{
        background: #114a82;
    padding: 10px 5px;
    display: flex;
    align-items: center;

}
.edra:hover .cate-product-horizontal-right{
    display: block;
}
.nippet{
    height: 100%;
}
form[name='frm-search'] a{
    padding: 6px 10px 6px 0px;
    font-size: 17px;
    color: #333333;
    position: absolute;
    top: 0px;
    right: 0px;
}
form[name='frm-search'] input[name='q']{
    border: none;
    outline: none;
    padding: 8px 10px;
    width: 100%;
    border-radius: 20px;
}
.rimex{
       display: flex;
    flex-direction: row;
    justify-content: center;
}
.tem-cart{
        display: block;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    padding: 10px 0px;
    font-size: 20px;
}
.tem-cart:hover{
    background: #d54d4d;
}
.nimme{
        margin-top: 10px;
    margin-right: 15px;
}
.phone-ramen{
    float: left;
}
.hotline-ramen{
    float: right;
}
.box-category{
    background: #ffffff
}
.box-product-img{
    margin: 15px 15px 0px 15px;

}
.box-product-price{
    border-top: 1px solid #eee;
    background: linear-gradient(to bottom, #f8f8f8 0%, #ffffff 100%);
    margin: 0px 1px 0px 1px;
    padding: 5px 15px 5px 15px;
}
.danhmucspfooter li a{
    color: #ffffff
}
.box-product-rian{
        margin-right: 2px;
    margin-top: 10px;
}
.pdetail-chipu{
        border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.tell-price{
    display: flex;
    align-items: center;
}
.ttkh{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.ttkh-text{
    display: block;
    width: 100%;
    height: 35px;
    min-height: 35px;
    padding: 0 10px;
    margin: 0;
    line-height: 22px;
    border: 1px solid #cccccc;
    outline: none;
    background: #fff;
    color: #5f6a7d;
    font-size: 13px ;
    
    -webkit-appearance: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.kh-checkout{
       display: inline-block;
    background: #d54d4d;
    text-align: center;
    color: #ffffff;
    padding: 7px 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    width: 49%;
}
.kh-mua-them{
        display: inline-block;
    background: #03a9c0;
    text-align: center;
    color: #ffffff;
    padding: 7px 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    width: 49%;
}
.kh-checkout_2{
   display: inline-block;
    background: #d54d4d;
    text-align: center;
    color: #ffffff;
    padding:7px 78px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;
}
.kh-mua-them_2{
        display: inline-block;
    background: #03a9c0;
    text-align: center;
    color: #ffffff;
    padding: 7px 77px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;
}
.kh-checkout:hover,.kh-mua-them:hover,.kh-checkout_2:hover,.kh-mua-them_2:hover{
    background: #333;
    color: #ffffff;
}
.pdetail-price-on{
        color: #F00;
    font-weight: bold;
    font-size: 25px;
}
.ridoo{
    display: none;
}
.timex .nadoo{
        width: 500px;
    background: #ffffff;
    position: absolute;
    top: 49px;
    right: -1px;
    z-index: 2;
    border: 1px solid #bbb;
    padding: 10px;
    
    display: none;
    
}
.timex:hover .nadoo{
    display: block;
    
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}
@-webkit-keyframes slide-down {
      0% { opacity: 0;  }   
    100% { opacity: 1;  }
}
@-moz-keyframes slide-down {
      0% { opacity: 0;  }   
    100% { opacity: 1;  }
}
.bo-loc{
        font-size: 18px;
    color: #212121;    
}
.cara{
    margin-bottom: 0;
}
.tich-tac{
    list-style: none;
}
.tich-tac li{
    margin-left: 0;
}
.timex{
	float: right;
    width: 50px;
}
.nippet a img{
    width:53px;
}


.katalena{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.katalena a{
    background:linear-gradient(#474747, #000000);
    text-align: center;
    border: 1px solid #000000;
    padding: 8px 70px;
    font-size: 16px;
    display: block;
    color: #ffffff !important;

}
.katalena a:hover{
    color: #ffffff !important;
}

@media (max-width: 768px){    
    .mobilemenu{
        display: block;
        background: #ffffff;
    }    

    .covu{
        display: none;
    }
    .himlam{
        width: 100%;
    }
    .timex{
        display: none;
    }

    
    div.tab button{
        font-size: 13px;
        margin-right: 30px;
    }

}

@media (max-width: 576px){
    .cot-1{
        width: auto;
        background:none;
        
    }
    .cot-1 a {color: #004A8F;font-size: 15px}
    .pdetail-price-detail-on{
        font-size: 13px;
    }
}